
  .modal-header-add{
      background-color: #428bca;
      color:white !important;
      text-align: left;
      font-size: 60px;
  }

  .modal-header-view{
      background-color: brown;
      color:white !important;
      text-align: left;
      font-size: 60px;
  }

  .modal-footer {
      background-color: #f9f9f9;
  }
